body{
    background-position: center;
    background-size: cover;
}
canvas{
    border-radius: 10px;
    background-color: red;
    box-shadow: 7px 7px 7px white;
}
h3 {
    color:blue;
    border-radius:10px;
}